# private ssh key
dshield-key.pem

# My local data stores, private.  
_liveData/*
_packets/*
_incoming/*

# individualized data unique to my own honeypots that winds up in a few locations such as logs/db etc.
*.csv
*.db
*.db3
*.json
*.pcap
*.pem
*.tar.gz
*.bak
*localDshield.log
*.db3-journal

# Test data that's also unique/private/deprecated
agents/*
bin/test/*
bin/deprecate/*
foo*

# My investigation scratch directory, also private snatches of data.  
investigation/*

# More personally unique information used to add allow admin entries to iptables on honeypots.
starlinkDenverIPs
networkSecurityGroupAddIP.bash
nsgUpdate.bash
